body{
padding: 0;
margin: 0;
}
.card{
    
    width:55vmax ;
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
    background-color: white;
}
.g1{
    gap: 10px;
    /* height: 150px; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    background-color: white;
    padding: 20px;
}
.g1 img{
    height: 5vmax;
    border: 2px solid black;
}
.g1 p{
    /* width: 90%; */
    /* width: 1vmax; */
    font-size: 1vmax;
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}